@tailwind base;
@tailwind components;
@tailwind utilities;

.item1 {
  background-image: url("./assets//images//workers.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item1 h1 {
  text-shadow: 0 3px 10px black;
}

.item2 {
  background-image: url("./assets/images/products.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item2 h1 {
  text-shadow: 0 3px 10px black;
}

.item3 {
  background-image: url("./assets/images/use.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.item3 h1 {
  text-shadow: 0 3px 10px black;
}
